<?php
/**
 * Copyright © 2017 Seven Senders GmbH. All rights reserved.
 */
?>

<?php $shipment = $this->getShipment(); ?>
<?php $history = $this->getHistory(); ?>

<?php if ($history) : ?>
    <div class="admin__page-section-item order-shipment-history" style="margin-top: 17px;">
        <div class="admin__page-section-item-title">
            <span class="title"><?php /* @escapeNotVerified */
                echo __('Shipment Status History') ?></span>
        </div>
        <div class="admin__page-section-item-content">
            <table class="admin__table-secondary shipment-history-table">
                <tbody>
                <?php foreach ($history as $item) : ?>
                    <tr>
                        <th><?php echo $item['datetime'] ?></th>
                        <td><?php echo $this->escapeHtml(ucwords($item['name'])) ?></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
<?php endif; ?>
